{% load static %}
<!DOCTYPE html>
<html lang="en">
    {% include 'components/header.html' %}
<body>
    <div class="container">
        <div class="logo" id="logo">
            <img src="{% static 'images/logo/big_logo.png' %}" alt="logo" />
        </div>
        <div class="yazi">
            <p>Lezzet Diyarına Hoşgeldiniz...</p>
            <p>Welcome to the Land of Flavor...</p>
            <p>مرحبًا بكم في أرض النكهات ...</p>
        </div>
        <div class="selectLang">
            <div class="select">
                <a href="MenuTR" style="text-decoration:none; color:black;">
                    <p class="lang">Türkçe</p>
                </a>
            </div>
            <div class="select">
                <a href="MenuEN" style="text-decoration:none; color:black;">
                    <p class="lang">English</p>
                </a>
            </div>
            <div class="select">
                <a href="MenuAE" style="text-decoration:none; color:black;">
                    <p class="lang">عربي</p>
                </a>

            </div>
        </div>
    </div>
</body>
</html>