{% load static %}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menü - Berweuli Alacarta</title>
    <META name="Abstract" content="Berweuli Alacarta Restoranımızın Qr menü sayfasıdır. Bu sayfa üzerinden tüm ürünerimizi listeleyebilirsiniz.">
    <META name="Author" content="Serdar SAYIN, serdarsayin61@gmail.com">
    <meta name="description" content="Berweuli Alacarta Restoranımızın Qr menü sayfasıdır. Bu sayfa üzerinden tüm ürünerimizi listeleyebilirsiniz.">
    <meta name="keywords" content="Qr Menu Qr-Menu BerweliAlacarta Berweuli Alacarta Restoran Cafe">
    <meta name="revisit-after" content="7 days">
    <!-- for icons  -->
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">


    <link rel="shortcut icon" href="{% static 'images/icon/logo.png' %}" type="image/x-icon" />
    <!-- bootstrap  -->
    <link rel="stylesheet" href="{% static 'css/food_website/bootstrap.min.css' %}">
    <!-- for swiper slider  -->
    <link rel="stylesheet" href="{% static 'css/food_website/swiper-bundle.min.css' %}">

    <!-- fancy box  -->
    <link rel="stylesheet" href="{% static 'css/food_website/jquery.fancybox.min.css' %}">
    <!-- custom css  -->
    <link rel="stylesheet" href="{% static 'css/food_website/style.css' %}">

</head>